@font-face {
    font-family: "Digital 7";
    src: url("fonts/digital-7/digital-7.ttf");
}

@font-face {
    font-family: "bootstrap-icons";
    src: url('bootstrap-icons-1.10.3/fonts/bootstrap-icons.woff');
}

